.container {
  display: flex;

  justify-items: center;
}
.imgContainer {
  position: relative;
  width: 500px;
  height: 500px;
 
}
.img {
  object-fit: contain;
}
.userContainer {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 40%;
  margin-left: 20px;
  
}
.avatar {
  border: none;
  border-radius: 50%;
  object-fit: cover;
}
.user {
  font-size: larger;
  margin-top: 20px;
  height: min-content;
}

  
.desc {
  border: 4px outset  salmon;
  border-radius: 10px;
  padding: 8px;
}
