/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/contact/contact.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.contact_container__cCpH8 {
  display: flex;
  gap: 80px;
  justify-content: space-between;
}
.contact_imgContainer__cVH4m {
  position: relative;
  width: 70vh;
  height: 60vh;
  
  
}
.contact_img__Wj1Y3 {
  border: none;
  border-radius: 5px;
}

.contact_text__cAgI3 {
  font-size: 50px;
  font-weight: 300;
}
.contact_formContainer__tNTHl {
width: 90vh;
}
.contact_form___aGjp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact_form___aGjp input,
.contact_form___aGjp textarea {
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 50vh;
}

.contact_button__WySkb {
  padding: 20px;
  border: none;
  cursor: pointer;
  background: transparent;
  align-items: center;
  border-radius: 20px;
}

.contact_button__WySkb:hover {
  background: var(--bg);
}

@media (max-width: 1366px) {
  .contact_container__cCpH8,.contact_textContainer__jkQMf {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .contact_container__cCpH8,.contact_textContainer__jkQMf {
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1024px) {
  .contact_container__cCpH8,.contact_textContainer__jkQMf{
    width: 768px;
  }
}

@media (max-width: 768px) {
  .contact_container__cCpH8,.contact_textContainer__jkQMf {
    width: 640px;
  }
  .contact_imgContainer__cVH4m {
    display: none;
  }
}

@media (max-width: 640px) {
  .contact_container__cCpH8 {
    width: 475px;
  }
  .contact_imgContainer__cVH4m{
    display: none;
  }

}
@media (max-width: 475px) {
  .contact_container__cCpH8 {
    width: 380px;
  }
  .contact_imgContainer__cVH4m{
    display: none;
  }

}


