.container {
  display: flex;
  gap: 80px;
  justify-content: space-between;
}
.imgContainer {
  position: relative;
  width: 70vh;
  height: 60vh;
  
  
}
.img {
  border: none;
  border-radius: 5px;
}

.text {
  font-size: 50px;
  font-weight: 300;
}
.formContainer {
width: 90vh;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,
.form textarea {
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 50vh;
}

.button {
  padding: 20px;
  border: none;
  cursor: pointer;
  background: transparent;
  align-items: center;
  border-radius: 20px;
}

.button:hover {
  background: var(--bg);
}

@media (max-width: 1366px) {
  .container,.textContainer {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container,.textContainer {
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1024px) {
  .container,.textContainer{
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container,.textContainer {
    width: 640px;
  }
  .imgContainer {
    display: none;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
  }
  .imgContainer{
    display: none;
  }

}
@media (max-width: 475px) {
  .container {
    width: 380px;
  }
  .imgContainer{
    display: none;
  }

}

