.container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
}
.cardContainer {
  display: flex;
}
.imgContainer {
  width: 300px;
  height: 300px;
  position: relative;
}
.img {
  object-fit: cover;}

.titleContainer{
   
    gap: 30px;
    
  
}
.title {
  font-size: xx-large;
  font-weight: 300;
}
.desc {
  font-size: small;
  font-weight: 300;
  display: flex;
}
.link {
  margin: auto;
}
.date {
  transform: rotate(270deg);
  margin-left: 120px;
  
}


